html {
  font-size: 16px;
}

table {
  margin: 0 auto;
}

td {
  padding: 3rem;
  border: 5px solid black;
}

/*[data-position='a1'] {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

[data-position='b1'] {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}

[data-position='c1'] {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}*/
