html {
  font-size: 16px;
  background-color: #6fc1f1;
}

table {
  margin: 0 auto;
  background-color: white;
}

td {
  height: 10vh;
  width: 10vh;
  padding: 3rem;
  background-color: #6fc1f1;
  text-align: center;
  /*border: 5px solid white;*/
}

/*[data-position='a1'] {
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

[data-position='b1'] {
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

[data-position='c1'] {
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}*/
